
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<table class="  table-bordered">
    <tr>
        <th>NAME</th>
        <th>Designation</th>
        <th>Phone</th>
    </tr>
    
        <tr>
            <td>@ViewBag.Name</td>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Phone</td>
        </tr>
   

</table>