
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<table class=" table table-bordered"> 
    <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Description</th>
    </tr>
    @foreach( var i in Model)
            {
                <tr>
                    <td>@i.Title</td>
                    <td>@i.Course</td>
                    <td>@i.Description</td>
                </tr>
            }
</table>